/*
Theme Name: emagid
Theme URI: http://emagid.com/
Author: Underscores.me
Author URI: http://emagid.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: emagid
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}
ul, li {
	list-style-type: none;
	padding: 0;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@font-face {
	font-family: 'Nobel';
	src: url('assets/fonts/Nobel-Regular.eot');
	src: url('assets/fonts/Nobel-Regular.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Nobel-Regular.woff2') format('woff2'),
		url('assets/fonts/Nobel-Regular.woff') format('woff'),
		url('assets/fonts/Nobel-Regular.ttf') format('truetype'),
		url('assets/fonts/Nobel-Regular.svg#Nobel-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nobel';
	src: url('assets/fonts/Nobel-Bold.eot');
	src: url('assets/fonts/Nobel-Bold.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Nobel-Bold.woff2') format('woff2'),
		url('assets/fonts/Nobel-Bold.woff') format('woff'),
		url('assets/fonts/Nobel-Bold.ttf') format('truetype'),
		url('assets/fonts/Nobel-Bold.svg#Nobel-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std';
	src: url('assets/fonts/AvenirLTStd-Book.eot');
	src: url('assets/fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/AvenirLTStd-Book.woff2') format('woff2'),
		url('assets/fonts/AvenirLTStd-Book.woff') format('woff'),
		url('assets/fonts/AvenirLTStd-Book.ttf') format('truetype'),
		url('assets/fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std 55 Roman';
	src: url('assets/fonts/AvenirLTStd-Roman.eot');
	src: url('assets/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
		url('assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
		url('assets/fonts/AvenirLTStd-Roman.ttf') format('truetype'),
		url('assets/fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,
button,
input,
select,
textarea {
	color: #0e0e0e;
	font-family: 'Nobel';
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal !important;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}


a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## HEADER
--------------------------------------------------------------*/
header {
	position: fixed;
	width: 100%;
	background-color: transparent;
}

#headerWrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
			z-index: 99999999;
	position: relative;
}
#siteLogo {
	width: 175px;
		z-index: 999;
	position: relative;
	background-color: rgba(238, 234, 227, 0.5);
	padding: 15px;
}


/*--------------------------------------------------------------
## FOOTER
--------------------------------------------------------------*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(37, 37, 36, 0.65);
    color: #fff;
}
footer.site-footer {
	height: 45px;
}
.footer-wrapper {
	width: 95%;
	margin: 0 auto;
	padding-top: 16px;
	overflow: hidden;
}

footer.site-footer p {
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
}
#footer-left {
	float: left;
	width: 50%;
	text-align: left;
}
#footer-right {
	float: left;
	width: 50%;
	text-align: right;
}

/*--------------------------------------------------------------
## MENU NAVIGATION
--------------------------------------------------------------*/
button#responsive-menu-button {
	border-radius: 0 !important;
	outline: 0;
	height: 20px;
	background-color: rgba(41, 33, 83, 0.7) !important;
	left:190px !important;
}
button#responsive-menu-button.is-active {
	background-color: #27233C !important;
}
div#responsive-menu-container {
	top:206px !important;
	left:0 !important;
	height: 265px;
	width: 246px !important;
	background-color: #27233C !important;
}
#responsive-menu-container #responsive-menu li.responsive-menu-item a {
	background-color: rgba(37, 37, 36, 0.5) !important;
}
/*#responsive-menu-container.push-top, #responsive-menu-container.slide-top {
	visibility: hidden;
		    transform: translateY(206px) !important;
    -ms-transform: translateY(206px) !important;
    -webkit-transform: translateY(206px) !important;
    -moz-transform: translateY(206px) !important;
}
.responsive-menu-open #responsive-menu-container.push-top, .responsive-menu-open #responsive-menu-container.slide-top {
	    transform: translateY(206px) !important;
    -ms-transform: translateY(206px) !important;
    -webkit-transform: translateY(206px) !important;
    -moz-transform: translateY(206px) !important;
    visibility: visible;
}*/
#responsive-menu-container #responsive-menu > li.responsive-menu-item:first-child a {
	border-top: 0 !important;
}
#responsive-menu-container li.responsive-menu-item {
	background-color: transparent !important;
}
#responsive-menu-container #responsive-menu li.responsive-menu-item a {
	border-bottom: 1px dashed #0e0e0e !important;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 2.5px;
	padding-left: 25px;
}
#responsive-menu-container #responsive-menu li.responsive-menu-item a:hover {
	border-bottom: 1px solid #0e0e0e !important;
}
.responsive-menu-box {
	height: 27px !important;
}
div#responsive-menu-additional-content {
	padding-left: 25px !important;
	padding-top: 20px !important;
	padding-bottom: 15px !important;
	background-color: #27233C !important;
}
div#responsive-menu-additional-content img {
	width: 150px;
}

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/

#frontPageWrapper { 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
}
body.page-home #frontPageWrapper{
	height: 100vh;
}

/*--------------------------------------------------------------
## CONTACT PAGE
--------------------------------------------------------------*/
.contact-form-wrapper {
	width: 650px;
	margin: 0 auto;
	padding-top: 220px;
}
.contact-form-header {
	height: 160px;
	padding-top: 30px;
	background-color: #252524;
	overflow: hidden;
}
.contact-form-header .header-left {
	width: 50%;
	float: left;
	text-align: center;
}
.contact-form-header .header-right {
	width: 50%;
	float: left;
	text-align: center;
}
.contact-form-header span {
	color:rgba(238, 234, 227, 0.4);
	font-size: 14px;
	margin: 0;
	letter-spacing: 0.5px;
	font-family: 'Avenir LT Std';
	-webkit-font-smoothing: antialiased;
}
.contact-form-header p span {
	font-size: 12px;
	margin-right: 7px;
}
.contact-form-header p {
	color:#eeeae3;
	font-size: 18px;
	margin: 0;
	margin-top: 5px;
	letter-spacing: 0.5px;
	font-family: 'Avenir LT Std';
	line-height: 1.3em;
	-webkit-font-smoothing: antialiased;
}
.contact-form-body {
	position: relative;
}
.contact-form-body p {
	margin: 0;
}
.contact-form-body input {
	width: 100%;
	height: 70px;
	border-radius: 0 !important;
	padding-left: 25px;
	font-size: 17px;
	letter-spacing: 1px;
	border: 0;
	border-bottom: 1.5px solid #eeeae3;
	outline: 0;
	font-family: 'Avenir LT Std 55 Roman';
	-webkit-font-smoothing: antialiased;
}
.contact-form-body textarea {
	width: 100%;
	height: 140px;
	border-radius: 0 !important;
	padding-top: 15px;
	padding-left: 25px;
	font-size: 17px;
	letter-spacing: 1px;
	border: 0;
	outline:0;
	font-family: 'Avenir LT Std 55 Roman';
	-webkit-font-smoothing: antialiased;
}
.contact-form-body select {
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
	width: 250px;
	padding-top: 5px;
	height: 32px;
	border-radius: 1px !important;
	padding-left: 6px;
	letter-spacing: 0.25px;
	font-size: 14px;
	border: 0;
	border-bottom: 1.5px solid #eeeae3;
	outline: 0;
	font-family: 'Avenir LT Std 55 Roman';
	color:#252524;
	-webkit-font-smoothing: antialiased;
	margin-top: 3px;
}
.contact-form-body input::-webkit-input-placeholder {
	color:rgba(37, 37, 36, 0.4);
}
.contact-form-body input:focus { 
    background-color: #eeeae3;
}
.contact-form-body textarea:focus { 
    background-color: #eeeae3;
}
.contact-form-body textarea::-webkit-input-placeholder {
	color:rgba(37, 37, 36, 0.4);
}
.contact-form-body div.float-container {
	overflow: hidden;
}
.contact-form-body div.float-50 {
	width: 50%;
	float: left;
}
.contact-form-body div.float-50:first-child {
	border-right: 1.5px solid #eeeae3;
}
.contact-bottom {
	overflow: hidden;
	background-color: #eeeae3;
	margin-top: -6px;
}
.contact-form-body input[type="submit"] {
	color:#fff;
	background-color: #4c7deb;
	width: 190px;
	height: 75px;
	box-shadow: none !important;
	font-family: 'Avenir LT Std';
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}
.contact-form-body div.float-right-50 {
	width: calc(50%-1px);
	float: right !important;
	text-align: right;
	margin-right: 1px;
}
div.wpcf7 .ajax-loader {
	display: none;
}
.contact-form-body #selection {
	padding-top: 3px;
	padding-left: 15px;
}

.contact-form-body #selection span {
	color:rgba(119, 117, 114, 0.5);
	font-size: 11px;
	margin: 0;
	letter-spacing: 1px;
	font-family: 'Nobel';
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
span.wpcf7-not-valid-tip {
	display: none !important;
}
div.wpcf7-validation-errors {
    border: 2px solid red;
    background: red;
    color:#fff;
        font-size: 15px;
    margin: 0;
    letter-spacing: 0.5px;
    font-family: 'Avenir LT Std';
    -webkit-font-smoothing: antialiased;
} 
div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    background: #398f14;
    color:#fff;
        font-size: 15px;
    margin: 0;
    letter-spacing: 0.5px;
    font-family: 'Avenir LT Std';
    -webkit-font-smoothing: antialiased;
} 

.cf-tooltip {
	width: 190px;
	background-color: #252524;
	position: absolute;
	left: -185px;
	bottom: 13px;
	z-index: 2;
}
.cf-tooltip:after {
		content: url(assets/img/diamond-pointer.png);
	position: absolute;
	right: -8px;
	bottom: 5px;
	z-index: -1;
}
.cf-tooltip-top {
	padding: 15px 20px;
}
.cf-tooltip p {
	color:rgba(238, 234, 227, 0.4);
	font-size: 12px;
	line-height: 1.25em;
	margin: 0;
	letter-spacing: 0.5px;
	font-family: 'Avenir LT Std';
	-webkit-font-smoothing: antialiased;
}
.cf-tooltip p span {
	font-size: 10px;
}
.cf-tooltip h5 {
	color:#eeeae3;
	font-size: 15px;
	margin: 0;
	margin-top: 12px;
	letter-spacing: 0.5px;
	font-family: 'Avenir LT Std';
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
}
.cf-tooltip h6 {
	color:#eeeae3;
	font-size: 11.5px;
	margin: 0;
	margin-top: 1px;
	letter-spacing: 0.5px;
	font-family: 'Avenir LT Std';
	line-height: 1.3em;
	-webkit-font-smoothing: antialiased;
	background-color: rgba(238, 234, 227, 0.1);
	padding: 7px 20px;
}

/*--------------------------------------------------------------
## LEASING PAGE
--------------------------------------------------------------*/
body.page-leasing button#responsive-menu-button {
	right:calc(15% + 150px);
}
body.page-leasing div#responsive-menu-container {
	right:calc(15% + 150px) !important;
}
body.page-leasing footer {
	background-color:rgba(37, 37, 36, 0.65);
	color:#fff;
}
.leasing-sidebar {
	position: absolute;
	width: 300px;
	height: 100%;
	right: 0;
	top:0;
	padding-top: 50px;
	background-size: cover;
	background-image: url(assets/img/sidebar-bg.jpg);
}
.leasing-menu ul {
	margin-left: 0;
	width: 100%;
}
.leasing-menu ul li {
	margin-bottom: 25px;
	font-family: 'Nobel';
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.5px;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding-left: 48px;
}
.leasing-menu ul li a {
	color:rgba(238, 234, 227, 0.5);
}
.leasing-menu ul li:hover a {
	color:#eeeae3;
	position: relative;
}
.leasing-menu ul li:hover::before {
	content: url(assets/img/blue-indicator.png);
	position: absolute;
	left: 0;
}

.leasing-main {
	width: 90%;
	margin: 0 auto;
	padding-right: 150px;
	padding-top: 240px;
}
.agents-contact-header h3 {
	color: #eeeae3;
    font-size: 28px;
    letter-spacing: 0.75px;
    font-family: 'Avenir LT Std';
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-top: 15px;
}
.agents-contact-header h3 span.dim {
	color: rgba(238, 234, 227, 0.65);
}
.agents-contact-header {
	overflow: hidden;
}
.agents-contact-header-left {
	width: 70%;
	float: left;
}
.agents-contact-header-right {
	width: 30%;
	float: left;
}
.agents-contact-header-left p {
	color: rgba(238, 234, 227, 0.65);
    font-size: 15px;
    margin: 5px auto;
    letter-spacing: 0.5px;
    font-family: 'Avenir LT Std';
    -webkit-font-smoothing: antialiased;
}
.agents-contact-header-right a button {
	background-color: transparent;
	color: #eeeae3;
	font-size: 12 px;
	font-family: 'Avenir LT Std';
	letter-spacing: 0.25px;
	height: 44px;
	width:170px;
	margin-top: 15px;
    -webkit-font-smoothing: antialiased;
}
.agents-contact-header-right p {
	color:#fff;
    font-size: 14px;
    margin: 10px auto;
    letter-spacing: 0.75px;
    font-family: 'Avenir LT Std';
    -webkit-font-smoothing: antialiased;
}
.agents-contact-header-right p span.dim {
	color: rgba(238, 234, 227, 0.65);
}
.agents-contact-team {
	padding-top: 35px;
}
.agents-contact-team-header p {
	color: rgba(238, 234, 227, 0.65);
	font-size: 14px;
    margin: 10px auto 5px;
    font-family: 'Avenir LT Std';
    -webkit-font-smoothing: antialiased;
}
.agents-contact-team-header img.team-logo {
	height: 28px;
}
.agents-contact-team-deck {
	padding-top: 12px;
	width: 785px;
	text-align: center;
}
.agents-contact-team-card {
	background-color: #252524;
	height: 130px;
	width: 390px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	margin-bottom: 5px; 
	text-align: left;
}
.agents-contact-team-card img {
	height: 130px;
	padding: 3px;
}
.agents-contact-team-card .team-image {
	float: left;
}
.agents-contact-team-card .team-text {
	float: left;
	padding-top: 15px;
	padding-left: 15px;
}
.agents-contact-team-card .team-text h6 {
	color: #777572;
    font-size: 11.5px;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.75px;
    font-family: 'Nobel';
    -webkit-font-smoothing: antialiased;
}
.agents-contact-team-card .team-text h4 {
	color: #eeeae3;
    font-size: 18px;
    font-family: 'Avenir LT Std';
    margin: 5px 0 0;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
}
.agents-contact-team-card .team-text a {
	color: #eeeae3;
    font-size: 14px;
    font-family: 'Avenir LT Std';
    margin: 0;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding-left: 20px;
    padding-top: 2px;
}
.agents-contact-team-card .team-text a span {
	border-bottom:1px solid rgba(119, 117, 114, 0.4);
}
.agents-contact-team-card .team-text a:before {
	content: url(assets/img/icon-mail.png);
	position: absolute;
	top: 0;
	left: 0;
}

.agents-contact-team-card .team-text p {
	color: #eeeae3;
    font-size: 14px;
    margin: 5px auto;
    letter-spacing: 0.25px;
    font-family: 'Avenir LT Std';
    -webkit-font-smoothing: antialiased;
}

/*--------------------------------------------------------------
## GALLERY PAGE
--------------------------------------------------------------*/
body.page-gallery #frontPageWrapper {
	height: auto;
}
body.page-gallery footer {
	background-color:rgba(37, 37, 36, 0.65);
	color:#fff;
}
.gallery-container {
	width: 100%;
}
.gallery-wrapper {
	width: 100%;
	padding-left: 350px;
	padding-top: 115px;
	padding-right: 35px;
}
.gallery-header {
	border-bottom: 2px solid rgba(238, 234, 227, 0.10);
}
.gallery-header h3 {
	color: #eeeae3;
    font-size: 28px;
    letter-spacing: 0.75px;
    font-family: 'Avenir LT Std';
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
.gallery-header h3 span.dim {
	color: rgba(238, 234, 227, 0.65);
    font-size: 18px;
    padding-left: 8px;
}

/*--------------------------------------------------------------
## ABOUT PAGE
--------------------------------------------------------------*/
body.page-about footer {
	background-color:rgba(37, 37, 36, 0.65);
	color:#fff;
}

img.map-image {display:block;margin:0 auto;height:100%;width:100%;}
div > img.map-image {position:absolute;top:0;
	z-index:-1;
}
/*TOOLTIPS*/
.tooltip-show {
		position: absolute;
	width: 250px;
	height: 200px;
	z-index: 9999;
}
.tool-tip-show #tool-tip-show-1 {

}
.tooltip-show h5 {
	font-family: 'Nobel';
	text-transform: uppercase;
	color:#eeeae3;
	text-align: right;
	font-size: 12px;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding-bottom: 5px;
}
.tool-tip-body {
	text-align: left;
}
.tool-tip-body p {
	text-align: left;
	color:#eeeae3;
		font-family: 'Avenir LT Std';
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	background: rgba(37, 37, 36, 0.5);
	padding: 10px 25px 10px 10px;
	margin: 0;
}
.tool-tip-body a {
	text-align: left;
	color:#5f90ff;
	font-family: 'Avenir LT Std';
	font-size:12px;
	border-bottom: 1px solid #5f90ff;
	margin-left: 10px;
} 
area.tooltip {display:inline-block;width:5em;position:relative;
	z-index:1;
	line-height:1em;
	outline: 0;
}



area#tooltip1 {
	position: fixed;
    left: 56%;
    top: 65%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-1 {
	left:35%;
	top:50%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-1 {
		left:29%;
		top:48%;
	}
}
area#tooltip2 {
	position:fixed;
	left:65%;
	top:33%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-2 {
	left:50%;
	top:19%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-2 {
		left:32%;
		top:22%;
	}
}
area#tooltip3 {
	position:fixed;
	left:60%;
	top:38%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-3 {
	left:38%;
	top:41%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-3 {
		left: 13%;
	    top: 27%;
	}
}
area#tooltip4 {
	position:fixed;
	left: 15%;
    top: 78%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-4 {
	left: 18%;
    top: 64%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-4 {
		left: 13%;
	    top: 48%;
	}
}
area#tooltip5 {
	position:fixed;
	left: 65%;
    top: 4%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-5 {
	left: 60%;
    top: 7%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-5 {
	left: 20%;
    top: 8%;
	}
}
area#tooltip6 {
	position:fixed;
	left: 90%;
    top: 10%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-6 {
	left: 70%;
    top: 15%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-6 {
	left: 30%;
    top: 15%;
	}
}
area#tooltip7 {
	position:fixed;
	left: 44%;
    top: 11%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-7 {
	left: 40%;
    top: 15%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-7 {
	left: 30%;
    top: 15%;
	}
}

area#tooltip8 {
	position:fixed;
	left: 10%;
    top: 40%;
	width:24px;
	height:24px;
	background-image: url(/wp-content/uploads/2016/12/tooltip-white.png);
	background-size: cover;
}
div#tooltip-show-8 {
	left: 14%;
    top: 35%;
}
@media screen and (max-width: 650px) {
	div#tooltip-show-8 {
	left: 30%;
    top: 15%;
	}
}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
    @-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
    @-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
    @keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera */
    area.tooltip {
      padding: 15px 15px 15px 15px;
      text-align:center;
      margin-bottom: 4px;
      border-radius: 5px;
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out; 
    -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
    animation:blink normal 1.5s infinite ease-in-out; /* Opera */
}

area.tooltip:hover {
	z-index:2;
	box-shadow:0 0 0 2000px rgba(37, 37, 36, 0.15);
	-moz-animation:none normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation:none normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation:none normal 1.5s infinite ease-in-out; /* IE */
    animation:none normal 1.5s infinite ease-in-out; /* Opera */

    padding: 1px;
}

/*--------------------------------------------------------------
## RESPONSIVE
--------------------------------------------------------------*/
@media screen and (max-width: 1040px) {
	.cf-tooltip {
		left:-500px;
	}
}
@media screen and (max-width: 650px) {
	/*HEADER*/
	#headerWrapper {
		padding-top: 0;
		width: 100%;
	}
	#siteLogo {
		padding:0;
		padding-left: 15px;
	}
	div#siteLogo img {
		height: 50px;
	}

	/*MENU*/
	button#responsive-menu-button {
		top:0 !important;
		right: 0 !important;
		left:auto !important;
	}
	responsive-menu-open #responsive-menu-container.push-top, .responsive-menu-open #responsive-menu-container.slide-top {
	    transform: translateY(50px) !important;
	    -ms-transform: translateY(50px) !important;
	    -webkit-transform: translateY(50px) !important;
	    -moz-transform: translateY(50px) !important;
	}
	div#responsive-menu-container {
		width: 100% !important;
		right: 0 !important;
		top:55px !important;
	}
	#responsive-menu-container li.responsive-menu-item {
		text-align: center !important;
	}
	div#responsive-menu-additional-content {
		text-align: center;
	}

	/*CONTACT*/
	.contact-form-wrapper {
		width: 100%;
		padding-top: 110px;
	}
	.contact-form-header p {
		font-size: 16px;
	}
	.contact-form-body input {
		font-size: 15px;
	}
	.contact-form-body #selection {
		padding-top: 0;
	}
	.contact-form-body select {
		width: 90%;
	}
	.contact-form-body input[type="submit"] {
		width: 100%;
		font-size: 15px;
		height: 65px;
	}
	.contact-form-header {
		height: 120px;
		padding-top: 20px;
	}
	.contact-form-wrapper {
		padding-bottom: 20px;
	}

	/*LEASING*/
	.leasing-sidebar {
		display: none;
	}
	body.page-leasing div#responsive-menu-container {
		right: 0 !important;
	}
	.leasing-main {
		padding-top: 75px;
		padding-right: 0;
		width: 93%;
	}
	.agents-contact-header-left,
	.agents-contact-header-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.agents-contact-header h3 {
		font-size: 24px;
	}
	.agents-contact-team{
		padding-top:25px;
		padding-top: 5px;
	}
	.agents-contact-team-deck {
		width: 100%;
	}
	.agents-contact-team-card {
		width: 100%;
	}


	/*GALLERY */
	.gallery-wrapper {
		width: 97%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}

	/*FOOTER*/
	footer {
		position: relative;
		background: #252524 !important;
		color:#eeeae3 !important;
	}
	footer.site-footer p {
		font-size: 9px;
		letter-spacing: 0;
	}
	body.page-about footer {
		position: fixed;
		width: 100%;
	}
}
